<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dior.dior.mapper.ChinaMapper">

    <select id="selectAllCityByProvinceName" resultType="com.dior.dior.bean.China">
        SELECT
            *
        FROM
            china
        WHERE
            Pid = (
                SELECT
                    Id
                FROM
                    china
                WHERE
                    `Name` = #{provinceName}
            )
    </select>

    <select id="selectAllRegionByCityName" resultType="com.dior.dior.bean.China">
        SELECT
            *
        FROM
            china
        WHERE
            Pid = (
                SELECT
                    Id
                FROM
                    china
                WHERE
                    `Name` = #{cityName}
            )
    </select>
</mapper>